/* TOP COMPONENTS */
.shop {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items {
    width: 90%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    border: 1px solid black;
}
/* CART */
.cart {
    height: 100%;
    width: 20%;
    border: 1px solid black;
}
